.home-box-content {
  padding: 1em;
  height: 100%;
  width: 100%;
}

.home-box-inner-container {
  display: flex;
  flex-direction: column;
  height: calc(100% - 2em - 40px);
  width: calc(100% - 2em);
}

.home-box-title-container {
  height: 40px;
}
